* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepageContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.navbar {
  grid-column: 1/5;
}

.sidebar {
  grid-column: 1/2;
}

.content {
  grid-column: 2/5;
}

.footer {
  grid-column: 1/5;
}
